*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: navy;
    --secondary-color: rgb(41, 127, 247);
}
body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    background-color: var(--primary-color);
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder{
    outline: none;
    background-color:var(--primary-color);
    color: #fff;
}

#main{
    display: flex;
    flex-wrap: wrap;
}
.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.movie img{
     width: 100%;
}
.movie-info{
    padding: 0.5rem 1rem 1rem;
    color: #fff;
    display: flex;justify-content: space-between;
    align-items: center;
    letter-spacing: 0.5px;
    
}

.movie-info h3{
    margin-top: 0;
}
.movie-info span{
    background-color: var(--primary-color);
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
}

.movie-info span.green{
    color: greenyellow;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: all 0.3s ease-in ;
}
.overview h3{
    padding-bottom: 10px;
}
.movie:hover .overview{
    transform: translateY(0%);
}